/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~@angular/material/theming';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: $primary;
}


.box {
  background-color: white;
  padding: 10px;
  @include mat-elevation(2);
  margin-bottom: 20px;
}
